body {
  
  background-color: #e583e8; 
  
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.box {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.icons {
  font-size: 35px;
  color: #ffffff;
}
h1{
  color: #ffffff;
  margin-bottom: 20px;
}

.Toastify__toast--success {
  border-radius: 2px !important;
  background-color: rgb(13, 202, 240);
}
